
@using PagedList.Mvc;
@model PagedList.IPagedList<DemoStore_Admin.Models.ViewMainPageModel>





<script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>



<table id="myTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name </th>
            <th>Email </th>
            <th>Date Created</th>
            <th>Role</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr  class='clickable-row' data-href="@Url.Action("Details","Home", new {Id=item.Id })">
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.DateCreated</td>
                <td>@item.Role</td>
                <td>@item.PhoneNumber</td>
                <td>

                    @using (Html.BeginForm("DeleteUSer", "Home", new { Id = item.Id }, FormMethod.Post, new { role = "form" }))
                    {
                        <a href="@Url.Action("Settings","Home", new {UserId=item.Id })" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>

                        <button onclick="return confirm('Do You Want to Delete This Account')" class="delete " title="Delete" data-toggle="tooltip"
                                style="background-color: Transparent; outline: none; border:0; color:red">
                            <i class="material-icons">&#xE5C9;</i>
                        </button>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pagesize = Model.PageSize }))
                                Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Account

