@model DemoStore_Admin.Models.Prduct.Product
@using DemoStore_Admin.Models.Prduct
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    <script src="~/Asset/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


}


<div id="layoutSidenav_content">

    <main>
        <div class="container-fluid px-4">
            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">


                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h2>Product <b>Management</b></h2>
                                </div>

                            </div>

                        </div>
                        <div class="dl-horizontal">
                            <hr />

                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-1 fw-bold" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Discount)
                                    </div>

                                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Price)
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Description)
                                    </div>
                                    @Html.LabelFor(model => model.ViewCount, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.ViewCount)
                                    </div>
                                    @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">

                                        @Html.DisplayFor(model => model.Stock)
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Brand.Name)
                                    </div>
                                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.Category.Name)
                                    </div>
                                    @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    <div class="col">
                                        @Html.DisplayFor(model => model.DateCreated)
                                    </div>

                                </div>
                            </div>

                            <div>
                                <hr />
                                <dl class="form-horizontal">

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CoverImage)
                                    </dt>

                                    <dd>
                                        <img src="~/Img/@Model.CoverImage" style="height:150px; width:150px" />
                                    </dd>
                                </dl>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @Html.LabelFor(model => model.ProductImages, htmlAttributes: new { @class = "control-label col-md-2 fw-bold" })
                                    @foreach (var item in ViewData["Images"] as IList<ProductImages>)
                                    {
                                                <img src="~/Img/@item.img" style="height:150px; width:150px" alt="">
                                           
                                    }
                                </div>
                            </div>

                        
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

</div>