
@using PagedList.Mvc;
@model PagedList.IPagedList<DemoStore_Admin.Models.ViewModels.OrderViewModel>




<script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>


<table id="myTable" class="table table-striped table-hover">
    <tr>
        <th>
            OrderDate
        </th>
        <th>
            Customer
        </th>
        <th>
            ShipName
        </th>
        <th>
            ShipAddress
        </th>
        <th>
            ShipPhoneNumber
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr  class='clickable-row' data-href="@Url.Action("Details","Orders", new {Id=item.Id })">
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPhoneNumber)
            </td>
            <td>
                @switch (item.status)
                {
                    case 1:
                        <strong> Ordering</strong>
                        break;
                    case 2:

                        <strong> Taking</strong>
                        break;
                    case 3:

                        <strong> Shipping</strong>
                        break;
                    case 4:

                        <strong> Finish</strong>
                        break;

                    default:
                        <strong> Ordering</strong>
                        break;
                }
            </td>
            <td>
                @using (Html.BeginForm("DeleteOrder", "Orders", new { Id = item.Id }, FormMethod.Post, new { role = "form" }))
                {
                    <a href="@Url.Action("Edit","Orders", new {Id=item.Id })" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>

                    <button onclick="return confirm('Do You Want to Delete This Orders')" class="delete " title="Delete" data-toggle="tooltip"
                            style="background-color: Transparent; outline: none; border:0; color:red">
                        <i class="material-icons">&#xE5C9;</i>
                    </button>
                }
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pagesize = Model.PageSize }))
                                Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Account

